{% extends "base.html" %}

{% block content %}

<style>
  .stretch-card>.card {
    width: 100%;
    min-width: 100%
  }

  body {
    background-color: #f9f9fa
  }

  .flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
  }

  @media (max-width:991.98px) {
    .padding {
      padding: 1.5rem
    }
  }

  @media (max-width:767.98px) {
    .padding {
      padding: 1rem
    }
  }

  .padding {
    padding: 2rem !important
  }

  .card-sub {
    border: none;
    -webkit-box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.05), 0 -2px 1px -2px rgba(0, 0, 0, 0.04), 0 0 0 -1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.05), 0 -2px 1px -2px rgba(0, 0, 0, 0.04), 0 0 0 -1px rgba(0, 0, 0, 0.05)
  }

  .card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px)
  }

  .card-block {
    padding: 1.25rem;
    background-color: #fff !important
  }


  .sortable-moves {
    margin-bottom: 0;
    -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.14);
    margin-bottom: 20px;
    padding: 15px 0 15px 60px;
  }

  .sortable-moves {
    line-height: 1.55556em;
    list-style-type: none;
    margin-bottom: 15px;
    min-height: 3.55556em;
    padding-left: 7.11111em;
    position: relative;
    background-color: #fff;
  }

  .sortable-moves img {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 10px;
    border-radius: 5px;
    top: 15px;
  }

  .orders-header h1 {
    font-size: 30px;
    font-weight: bold;
    color: black;
    margin-left: 20px;
  }

  .orders-header hr {
    border: none;
    height: 1px;
    background-color: #d3d3d3;
    /* Grey color for the horizontal line */
    margin-top: 5px;
    margin-bottom: 0;
    /* Adjust as needed to add space below the line */
  }

  .title-padding {
    padding-top: 40px;
    margin-bottom: -20px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .text-product {
    font-size: 10px;
  }

  .category-info {
    color: #888;
  }
</style>


{% if current_user.is_authenticated and current_user.isSeller %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<div class="title-padding orders-header bootstrap-iso">
  <a href="{{ url_for('users.edit_products') }}" class="btn btn-primary float-right">Edit My Products</a>
  <a href="{{ url_for('sellers.buyer_to_seller') }}" class="btn btn-primary float-right">Go to seller's dashboard</a>
  <a href="{{ url_for('sellers.orderhistory') }}" class="btn btn-primary float-right">Go to seller's order history</a>
  <h1 style="margin: 0;">Products in sale</h1>
  <!-- Add Edit My Products button -->
    <hr>
</div>
<div class="page-content page-container" id="page-content">
  <div class="padding">
    <div class="row container d-flex justify-content-center">
      <div class="col-lg-12 col-xl-6">
        <!-- Draggable Multiple List card start -->
        <div class="card-block p-b-0">
          <div class="row">
            <div class="col-md-12" id="sortable">
              {% if avail_products %}

              {% for product in avail_products %}

              <div class="sortable-moves" style="">
                <img class="text-product img-fluid p-absolute image-dim"
                  src="https://m.media-amazon.com/images/I/81yGvW62D2L._AC_SY240_.jpg" alt="">
                <h4>{{ product.name }}</h4>
                <p class="category-info">Category: {{ product.category}}, id : {{ product.id }}</p>
                <p>description: {{ product.description}}</p>
                <p>description: {{ product.description}}</p>
              </div>

              {% endfor %}

              {% else %}
              <div class="col">
                <p class="text-center">No Products found</p>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <!-- Draggable Multiple List card end -->
    </div>

  </div>
</div>
</div>
{% endif %}

{% if current_user.is_authenticated and not current_user.isSeller%}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<div class="title-padding orders-header">
  <h1>Welcome to our Mini-Amazon</h1>
  <hr>
</div>
<div class="page-content page-container" id="page-content">
  <div class="padding">
    <div class="row container d-flex justify-content-center">
      <div class="col-lg-12 col-xl-6">
        <!-- Draggable Multiple List card start -->
        <div class="card-block p-b-0">
          <div class="row">
            <div class="col-md-12" id="sortable">
              {% if products %}

              {% for product in products %}

              <div class="sortable-moves" style="">
                <img class="text-product img-fluid p-absolute image-dim"
                  src="{{product.image if product.image else 'https://m.media-amazon.com/images/I/81yGvW62D2L._AC_SY240_.jpg'}}" alt="">
                <h4>{{ product.name }}</h4>
                <p class="category-info">Category: {{ product.category}}, price : {{ product.price }}</p>
                <p>{{product.description}}</p>
              </div>

              {% endfor %}

              {% else %}
              <div class="col">
                <p class="text-center">Please search what you want!</p>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <!-- Draggable Multiple List card end -->
    </div>

  </div>
</div>
</div>
<!-- <table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Purchase ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    {% for purchase in purchase_history %}
      <tr>
        <th scope="row">{{ purchase.id }}</th>
        <td>{{ purchase.pid }}</td>
        <td>{{ purchase.time_purchased }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table> -->
{% else %}
<!-- <p><a href="{{ url_for('users.login') }}">Log in</a> to see your purchase history!</p> -->
{% endif %}

<!-- {% if current_user.is_authenticated and current_user.isSeller %}
<h2>Products for sale:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Category</th>
      <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody>
    {% for product in avail_products %}
      <tr>
        <th scope="row">{{ product.id }}</th>
        <td>{{ product.category }}</td>
        <td>{{ product.name }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<br><br>
{% endif %}

{% if current_user.is_authenticated %}
<h2>Your recent purchases:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Purchase ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    {% for purchase in purchase_history %}
      <tr>
        <th scope="row">{{ purchase.id }}</th>
        <td>{{ purchase.pid }}</td>
        <td>{{ purchase.time_purchased }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your purchase history!</p>
{% endif %} -->

{% endblock %}